/*Animations Begins*/

.hidden{
    opacity: 0;
    transform: translatex(-50vw);
    transition: 3s ease-in-out;
}

.show{
    opacity: 1;
    transform: translatex(0);
}

.hero-header{
    animation: slideDown 4s ease-in-out;
}

.hero-hext{
    animation: slideLeft 4s ease-in-out;
}

.hero-btn-container{
    animation: fadeIn 4s ease-in-out;
}

@keyframes slideDown{
    from{
        opacity: 0;
        transform: translateY(-50vh);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideLeft{
    from{
        opacity: 0;
        transform: translateX(50vh);
    }
    to{
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes expand{
    from{
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }
    to{
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
}